rsync_user: {{ backup_rsync_user }}
rsync_host: {{ backup_rsync_host }}
rsync_module: {{ backup_rsync_module }}
pushover_user_token: {{ backup_pushover_user_token }}
pushover_app_token: {{ backup_pushover_app_token }}
tasks: {{ backup_tasks }}
mail_sender: {{ backup_mail_sender }}
